
.boxheader{
    display:flex;
    background-color: rgb(0, 0, 0);
    height: 40px;
    border-bottom: 3px black solid;
    justify-content: center;
    align-items: center;
    
    }
    




.box1 {
   display: flex;
   width: 300px;
   height: 600px;
    background-color: lightgrey;
    border: 3px black solid;
    flex-direction: column;
}





h5{
    color: white;
}
p{
    font-size: larger;
}